body {
  margin: 0;
  background-color: rgba(3, 2, 27, 0.431);

  font-family: Updock;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1:hover{
  transition: 1s;

  color: rgb(243, 243, 18);
}